{% extends 'Students/base.html' %}


{% block content %}
{% if user.is_authenticated %} 
<div class="container" style="margin-top: 70px; min-height: 600px;">
    <h1 class="mb-4">Enrollment List</h1>
    <a href="{% url 'enrollment_create' %}" class="btn btn-primary mb-3">Add Enrollment</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Student</th>
                <th>Class</th>
                <th>Enrollment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ enrollment.student.name }}</td>
                <td>{{ enrollment.student_class.name }}</td>
                <td>{{ enrollment.enrollment_date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No enrollments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  
</div>
{% else %}   
<h3 class="text-danger m-2">You are not allow, Please Login In!</h3> <br> <br> <br> <br>
{% endif %}
{% endblock content %}
